body {
    font-family: 'Yrsa, serif';
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
    
}

header {
    background-color: #a3b18a;
    padding: 1rem;
    font-weight: 300;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #3a5a3a;
    font-weight: bold;
    
}

.hero {
    position: relative;
}

.hero img {
    width: 60%;
    display: block;
    margin: 0 auto;
   }

.hero-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a3b18a;
    padding: 2rem;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hero-text article {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    
}

.hero-text article img {
    width: 175px;
    height: auto;
}
h1, h2 {
    font-family: 'Yrsa', serif;
    color: #3a5a3a;
    font-weight: 650;
    margin-bottom: 1rem;
    
}
h2 {
    font-size: 1.8rem;
}
.history {
    padding: 2rem;
    font-weight: 100;
    text-align: center;
    
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.history-content img {
    background-color: #dad7cd;
    padding: 2rem;
    width: 100%;
    height: auto;
}
.adventure-section h2 {
    text-align: center;
}
.adventure-section {
    padding: 2rem;
    font-weight: 100;
    align-items: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #a3b18a;
    padding: 1rem; 
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-social-media {
    display: flex;
    gap: 1rem;
}

.footer-social-media img {
    width: 35px;
    height: auto;
}